<mat-accordion>
  <ng-container *ngFor="let item of itemsWithAdditionalInfoInTuple; first as isFirst">
    <mat-expansion-panel [expanded]="(isFirst && !selectedId) || item.uid === selectedId">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ item.title }}
        </mat-panel-title>
        <mat-panel-description>
          {{ item.description }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        {{ 'FbiWanted.Published' | translate }}: {{ item.publication | date:'dd/MM/yyyy' }}
      </p>
      <p>{{ 'FbiWanted.Sex' | translate }}: {{ item.sex | defaultValue | translate }}</p>
      <p>{{ 'FbiWanted.Height' | translate }}: {{ item.height_min | defaultValue | translate }}</p>
      <p>{{ 'FbiWanted.Weight' | translate }}: {{ item.weight | defaultValue | translate }}</p>
      <p *ngFor="let characteristic of item.additionalInfo">
        {{ characteristic[0] }}: {{ characteristic[1] }}
      </p>
      <p>
        <img
          [src]="item.images[0].original"
          alt="Photo"
          class="item__image"
        >
      </p>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>
