<header>
  <mat-toolbar color="primary">
    <span
      class="header__switch-sidebar-btn"
      (click)="onSwitchSidebarVisibility()"
    >
      FBI Wanted
    </span>
    <span class="header__spacing"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <app-language-selector></app-language-selector>
      <ng-template [ngIf]="isAuthenticated">
        <span mat-menu-item>{{ userEmail }}</span>
        <button
          (click)="onLogout()"
          mat-menu-item
        >
          {{ "Auth.Logout" | translate }}
        </button>
      </ng-template>
      <button
        *ngIf="!isAuthenticated"
        (click)="onOpenLoginDialog()"
        mat-menu-item
      >
        {{ 'Auth.Login' | translate }}
      </button>
    </mat-menu>
  </mat-toolbar>
</header>
