.stepper {
  &__header {
    margin: 0 auto;
  }

  &__controller {
    width: 100%;
  }

  &__input-wrapper {
    display: flex;
    align-items: center;
  }

  &__button {
    cursor: pointer;
    background: inherit;
    border: none;
  }
}
