<h2
  mat-dialog-title
  align="center"
>
  Sign In
</h2>
<div mat-dialog-content>
  <form [formGroup]="loginForm">
    <mat-form-field class="form__controller">
      <mat-label>Login</mat-label>
      <input
        formControlName="login"
        matInput
      >
    </mat-form-field>
    <mat-form-field class="form__controller">
      <mat-label>Password</mat-label>
      <input
        type="password"
        formControlName="password"
        matInput
      >
    </mat-form-field>
  </form>
</div>
<div
  mat-dialog-actions
  align="end"
  class="form__actions"
>
  <button
    mat-raised-button
    mat-dialog-close
  >
    Cancel
  </button>
  <button
    type="submit"
    [disabled]="loginForm.invalid"
    mat-raised-button
    color="primary"
  >
    Sign In
  </button>
</div>
