<form
  [formGroup]="loginForm"
  (ngSubmit)="onLogin()"
>
  <h2
    mat-dialog-title
    align="center"
  >
    Sign In
  </h2>
  <div mat-dialog-content>
    <mat-form-field class="form__controller">
      <mat-label>Email</mat-label>
      <input
        type="email"
        formControlName="email"
        matInput
      >
    </mat-form-field>
    <mat-form-field class="form__controller">
      <mat-label>Password</mat-label>
      <input
        type="password"
        formControlName="password"
        matInput
      >
    </mat-form-field>
    <mat-error>{{ errorMessage }}</mat-error>
  </div>
  <div
    *ngIf="!isLoading"
    mat-dialog-actions
    align="end"
    class="form__actions"
  >
    <button
      mat-raised-button
      mat-dialog-close
    >
      Cancel
    </button>
    <button
      type="submit"
      [disabled]="loginForm.invalid"
      mat-raised-button
      color="primary"
    >
      Sign In
    </button>
  </div>
  <div
    *ngIf="isLoading"
    class="form__spinner-container"
  >
    <mat-spinner [diameter]="36"></mat-spinner>
  </div>
</form>
