<h2
  mat-dialog-title
  align="center"
>
  Sign In
</h2>
<div mat-dialog-content>
  <form>
    <mat-form-field class="form__controller">
      <mat-label>Login</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="form__controller">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>
  </form>
</div>
<div
  mat-dialog-actions
  align="end"
  class="form__actions"
>
  <button
    mat-raised-button
    mat-dialog-close
  >
    Cancel
  </button>
  <button
    disabled
    mat-raised-button
    color="primary"
  >
    Sign In
  </button>
</div>
